
/*Resset Default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

p {
  font-size: 20px;
  text-indent: 25px;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 3rem;
}

/*Color Mode*/
.darkmode {
  background-color: #000000;
  color: #FFFFFF;
}

.whitemode {
  background-color: #FFFFFF;
  color: #000000;
}

/*Layout*/
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.margin {
  margin: 0 10%;
}

.pxmargin {
  margin: 20px 40px;
}

.nomargin {
  margin: 0;
}

.small {
  width: 250px;
}

.normal {
  width: 350px;
}

.big {
  width: 450px;
}

.half {
  width: 50%;
}

.cover {
  width: 100%;
}

/*Text*/

.text.serif {
  font-family: "Times New Roman", Times, serif;
}

.text.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}

.text.monospace {
  font-family: "Lucida Console", "Courier New", monospace;
}

.text.normal {
  color: #ccc;
}

.text.primary {
  color: #000000;
}

.text.secondary {
  color: #6C757E;
}

.text.italic {
  font-style: italic;
}

.text.bold {
  font-weight: bold;
}

.text.small-caps {
  font-variant: small-caps;
}

.text.left {
  text-align: left;
}

.text.center {
  text-align: center;
}

.text.right {
  text-align: right;
}

.text.justify {
  text-align: justify;
}

.text.baseline {
  vertical-align: baseline
}

.text.top {
  vertical-align: text-top
}

.text.bottom {
  vertical-align: text-bottom;
}

.text.sub {
  vertical-align: sub;
}

.text.sup {
  vertical-align: super;
}

.text.decoration {
  text-decoration-color: #ccc;
  text-decoration-style: double;
}

.text.decoration.overline {
  text-decoration-line: overline;
} 

.text.decoration.line-through {
  text-decoration-line: line-through;
}

.text.decoration.underline {
  text-decoration-line: underline;
}

.text.decoration.overunderline {
  text-decoration-line: overline underline;
}

.text.decoration.uppercase {
  text-transform: uppercase;
}

.text.decoration.lowercase {
  text-transform: lowercase;
}

.text.decoration.capitalize {
  text-transform: capitalize;
}

.text.decoration.shadow {
  text-shadow: 2px 2px 2px #1C1D1F;
}

/*Button*/
.button {
  margin: 1%;
  font-weight: bold;
  background-color: #ccc;
  color: #000000;
  border: none;
  border-radius: 10px;
}

.button.small {
  width: 50px;
  height: 30px;
}

.button.normal {
  width: 60px;
  height: 35px;
}

.button.big {
  width: 70px;
  height: 40px; 
}

.button.massive {
  width: 100px;
  height: 50px;
}

.button.cover {
  width: 100%;
  height: 40px;
}

.button.primary {
  color: #FFFFFF;
  background-color: #000000;
}

.button.secondary {
  background-color:  #6C757E;
  color: #FFFFFF;
}

.button.link {
  background-color: transparent;
  border: 1px #ccc solid;
  color: #000000;
}

.button.link.primary {
  background-color: transparent;
  border: 1px #000000 solid;
}

.button.link.secondary {
  background-color: transparent;
  border: 1px #6C757E solid; 
}

.button:active {
  background-color: #dcdcdc;
}

.button.primary:active {
  background-color: #202020;
}

.button.secondary:active {
  background-color: #7A848E;
}

.button.link:hover {
  background-color: rgba(204,204,204,0.2);
}

.button.link.primary:hover {
  background-color: rgba(0,0,0,0.2);
}

.button.link.secondary:hover {
  background-color: rgba(80,80,80,0.2);
}

/*Card*/

.card {
  margin: 1%;
  border: 1px #ccc solid;
  border-radius: 2px;
  padding: 15px;
}

.card.radius, .input.radius {
  border-radius: 5px;
}

.card.radius.super, .input.radius.super {
  border-radius: 10px;
}

.card .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card .description {
  font-style: 10px;
}

.card.image, .card.navbar {
  padding: 0;
}

.card.image .image img {
  width: 100%;
}

.card.navbar .navbar {
  font-size: 15px;
  padding: 10px;
  background-color: #F7F7F7;
  border-bottom: 1px #ccc solid;
}
.card .content {
  padding: 15px;
}

/*List*/

.list li {
  border: 1px #ccc solid;
  padding: 10px;
}

.list li:hover {
  background-color: #000000;
  color: #FFFFFF;
  border-color: #000000;
}

.list li:active {
  background-color: #202020;
}

/*Input*/

.input {
  margin: 1%;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  height: 35px;
  border: 1px #ccc solid;
}

.input.transparent {
  background-color: transparent;
}

.input:focus {
  border: none;
  outline: solid;
  outline-width: 3px;
  outline-color: rgb(204,204,204);
}

.input.primary:focus {
  outline-color: rgb(0,0,0);
}

.input.secondary:focus {
  outline-color: rgb(80,80,80);
}

textarea.input {
  height: 150px;
}

/*Progress*/

.progress {
  margin: 1%;
  accent-color: #ccc;
}

.progress.primary {
  accent-color: #000000;
}

.progress.secondary {
  accent-color: #6C757E;
}

.progress.small {
  height: 30px;
}

.progress.normal {
  height: 35px;
}

.progress.big {
  height: 40px;
}

.progress.massive {
  height: 50px;
}

